= form_for @post, html: { multipart: true } do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .row
    = f.text_area :content, class: "form-control custom-control", rows: "3"
  .row
    .col-md-8
      = f.file_field :avatar, class: "form-control"
    .col-md-3.right
      = f.submit class: 'btn btn-success'
