%p#notice= notice
.user-box
  = image_tag @post.user.avatar.url(:thumb), class: 'profile'
  = link_to @post.user.name, @post.user
%p
  = @post.content
= image_tag @post.avatar.url if @post.avatar.exists?
%div{:class => "#{@post.class}-#{@post.id}"}
  = render 'shared/like_form', likeable: @post
  = link_to pluralize(@comments.count, 'comment'), @post, class: 'comments'
  .likes= pluralize(@post.likers(User).count, 'like')
= render 'shared/form'
#comments_area
=render @comments
